:root {
    --text: #031d1f;
    --background: #f9feff;
    --primary: #1fe4f7;
    --secondary: #f586a6;
    --accent: #f1a239;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    color: var(--text);
    font-family: "Lexend", sans-serif;
}
input, button {
    font-family: "Lexend", sans-serif;
}

h1 {
  background: -webkit-linear-gradient(var(--accent), var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
    color: white;
}

button {
    background-color: var(--accent);
    border: none;
    border-radius: 10px;
    padding: 5px;
}
button:hover{
    background-color: #dd8a1e;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.summoner-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.summoner-input input {
    height: 20px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--primary);
    height: 200px;
}
.header p {
    font-size: small;
    margin-left: 20px;
    margin-top: 0px;
    color: var(white)
}
.header-banner {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.header-icon {
    width: 100px;
    height: 100px;
    margin-left: 1rem;
    border-radius: 50%;
}
.champion-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;  
}
.main-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.suggestion-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
.suggestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}